@{
    ViewData["Title"] = "Primera view";
}

<div>
    <img src="Imágenes/pesuti.png" alt="logo">
    <form action='@Url.Action("Login", "Home")' method="POST" enctype="multipart/form-data">
        <input type="email" name="email">
        <input type="password" name="contraseña">
        <input type="submit">
    </form>
</div>