@ {
    ViewData["Title"] = "Segunda view"
}

<div>
    <a href='@Url.Action("SelectIntegrante", "Home")'>Ir a información del usuario</a>
    <a href='@Url.Action("MostrarDatosFamiliares", "Home")'>Ir a información de los familiares</a>
    <a href='@Url.Action("MostrarDatosIntereses", "Home")'>Ir a información de los intereses</a>
    <a href='@Url.Action("Reiniciar", "Home")'>Desloguearse<a>
</div>